@charset "utf-8";

 @font-face {
	font-family: 'GodoM';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
	 url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
	font-family: 'GodoB';
	font-style: normal;
	font-weight: 700;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), 
	url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
  }

 @font-face {
	 font-family: 'NotoR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
	 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
	 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
	}

  @font-face {
	font-family: 'Youth';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'),
	url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
	}

/* @import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumgothiccoding/nanumgothiccoding.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/nanumpenscript.css);
@font-face { font-family: 'nanumpen'; font-style: normal; font-weight: 400; src: url(../font/nanum-pen/nanumpen.ttf) format("ttf"), url(../font/nanum-pen/nanumpen.otf) format("opentype"), url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.eot?#iefix) format("embedded-opentype"), url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.woff) format("woff"), url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumpenscript/v2/NanumPenScript-Regular.ttf) format("truetype"); } */

/***** Normalize *****/
body,html{margin:0;padding:0; box-sizing:border-box; }
/* body::-webkit-scrollbar { display: none; } */
/* body::after { content: ""; display: block; clear: both;} */

/* 
html.hidden { overflow: hidden !important; touch-action: none; }
body.hidden { height: 100%; min-height: 100%; overflow: hidden !important; touch-action: none; } */

html.hidden { overflow: auto !important; touch-action: none; }
body.hidden { overflow: auto !important; height: 100%; min-height: 100%; touch-action: none; }
html.hide { overflow: hidden !important; touch-action: none; }
body.hide { overflow: hidden !important; height: 100%; min-height: 100%; touch-action: none; }

article,aside,details,div,h1,h2,h3,h4,h5,h6,li,main,nav,ol,p,summary,ul{margin:0;padding:0;box-sizing:border-box; font-weight: normal;}
li,ol,ul{list-style:none}button,form,input,select,span,textarea {box-sizing:border-box;}
button{border:none; outline: none; color: inherit; background-color: inherit;}
a { text-decoration: none; color: inherit; }
.img{width:100%}
table { border-collapse: collapse;}
/* ie img 설정 */
area:focus{	border: none; outline:none;	outline-style: none; -moz-outline-style:none; }
img, img a { outline: none !important; border: none !important; }
 ::selection { color: #fff; /* background-color: rgba(255, 126, 0, .7); */ background-color: #ff7e00; }
.clear:after{content:'';display:block;clear:both}

/* commons */
.on{color: #ff7e00 !important; border-color: #ff7e00 !important;}
h1,h2,h3,h4,h5{	font-weight: normal;}
.tit-hidden { left: -999999; display: none;}
.ff7e00{color:#ff7e00 !important;}
.fdaa56{color:#fdaa56 !important;}
.c-bbb {color:#bbb !important;}
.c-555 {color:#555 !important;}
.c-888 {color:#888 !important;}
.br-enter { display: none;}
.cursor { cursor: pointer;}

/* 기존  버튼 설정 */
.close{ display: none !important;}
.hidden {overflow: hidden;}
.on{color:#ff7e00!important;border-color:#ff7e00!important}
.on2{color:#fdaa56!important;border-color:#fdaa56!important}
.on3{color:#fff!important;background-color:#fdaa56!important;border-color:#ff7e00!important}
.heart_icon{position:absolute;top:0;right:0; margin-left: 40px; color:#ff7e00;font-size:15px}
.heart_icon img{position:absolute;top:-29px;right:-1px; width: 120px;}
.heart_icon i{text-align:right; padding: 0 10px; cursor: pointer;}
.placeholder {color:#bbb;}

/* 매칭페이지 하단 pager .border_bt1 사용*/
.border_bt1{border:1px solid #ddd;border-radius:5px;text-align:center;color:#888;background-color:#fff; font-family: 'Youth', sans-serif;}
.border_bt0{border:0;border-bottom:1px solid #ddd;text-align:center}
.border_bt{border:1px solid #ff7e00;border-radius:5px;text-align:center;color:#ff7e00}
.border_bt6{border:1px solid #ddd;border-radius:5px;text-align:center;color:#888;background-color:#fff;cursor:pointer}

.bg_bt{width:200px;height:40px;color:#fff;border-radius:5px;background-color:#ff7e00;border:1px solid #ff7e00;text-align:center;margin:0 auto; font-family: 'NotoR', sans-serif;}
.bg_bt2{background-color:#ddd!important}
.bg_bt3{color:#fff;background-color:#fdaa56;border-radius:5px;margin:0 auto;text-align:center;cursor:pointer; font-family: 'NotoR', sans-serif;}
.bg_bt4{color:#fff;background-color:#b5b5b5;border-radius:5px;margin:0 auto;text-align:center; font-family: 'NotoR', sans-serif;}
.border_bt2{border:1px solid #ddd;border-radius:5px;text-align:center;color:#888;background-color:#fff;cursor:pointer; font-family: 'NotoR', sans-serif;}a.border_bt2{display:block}
.border_bt3{border:1px solid #ddd;border-radius:5px;text-align:center;color:#888;background-color:#fff;cursor:pointer; font-family: 'NotoR', sans-serif;}
.border_bt3:hover{color:#fff!important;background-color:#ff7e00!important;border-color:#ff7e00!important}
.border_bt4{border:1px solid #ff7e00;border-radius:5px;text-align:center;color:#ff7e00;cursor:pointer; font-family: 'NotoR', sans-serif;}
.border_bt4:hover{color:#fff!important;background-color:#ff7e00!important;border-color:#ff7e00!important}
.border_bt5{border:1px solid #ddd;border-radius:5px;text-align:center;color:#888;cursor:pointer; font-family: 'NotoR', sans-serif;}
.temporary_storage_alert.bg_bt3{position:absolute;top:0;right:0;width:330px;height:60px;line-height:60px}
.temporary_storage_alert.bg_bt3 i{font-size:15px;margin-right:10px;color:#fff}
				
h2.premium_title img{ margin: 0 5px 3px 0;}
.bg_orange_alert.bg_bt3{font-size:14px;width:330px;min-height:60px;line-height:20px;padding:10px 27px}
.bg_orange_alert.bg_bt3 i{margin-right:10px}
.display_flex{display:inline-flex}
.gray_background{background-color:#f3f3f3}
span.must{margin-left:4px ;color:#ff7e00 !important;}
.temporary_storage_alert{position:fixed}
.overflow_hidden{overflow:hidden}
span.bl{content:"";display:inline-block;width:9px;height:2px}
span.call_us{ display: block; margin: 0 auto; text-align:left;margin-top:10px;color:#888;line-height:25px;font-size:12px}

/* 기존 로그인페이지 .login-pg  */
/* .login-pg ol,.login-pg ul{list-style:none}
.login-pg a{color:#000;text-decoration:none;}
.login-pg fieldset,fieldset{border:0}
.login-pg legend{width:1px;height:1px;text-indent:-9999px;overflow:hidden}
.login-pg input,.login-pg label{vertical-align:middle}
.login-pg table,.login-pg table td,.login-pg table th,.login-pg table tr{border:1px solid #000;border-collapse:collapse}
.login-pg caption{line-height:30px;font-size:14px; }
.login-pg address,.login-pg em{font-style:normal}
							 */
/* myPageC  */
/* .mypage-f-c ul.navi li { display: flex;}
.mypage-f-c ul.navi li {flex-direction: column;}
.myPage_facotry ul.navi span {display: inline-block;}
ul.navi li i{ display: inline-block; } */

/* join2-3 / join4-7  */
/* .border_bt4{ box-sizing: border-box; display: block; width: 170px; height: 40px; line-height: 38px; margin: 0 auto; font-size: 16px;} */

/* search_0316.html 선택 한 품목 복종 영역 .selected_keyword_wrap */
.selected_keyword_wrap { margin: 40px auto;} 
.search_wrap .selected_keyword_wrap ul{ display: flex; width: 1170px; flex-wrap: wrap; border: 1px solid #ddd; border-radius: 5px; padding: 10px 20px; color: #555;  min-height: 60px;}
.search_wrap .selected_keyword_wrap ul li{position: relative; margin-right: 10px; padding-right: 30px; display: inline;  font-size: 14px; line-height: 40px; color: #888;}
.search_wrap .selected_keyword_wrap ul li .delete_selected{  cursor: pointer;   color: #ff7e00; padding: 0 10px; line-height: unset;}

/* 이용 약관 */
.terms_wrap { word-break: keep-all;}

/*  top button */
.top-btn { display: none; position: fixed; z-index: 1; bottom: 100px; right: 300px; width: 50px; opacity: 0.8; cursor: pointer;}
.top-btn:hover { opacity: 1;}
.top-btn img { width: 100%;}

/*  new paging */
.paging{width:max-content; width: unset !important; display: flex; line-height:40px;margin:0px auto;color:#a6a8b0; font-family: 'NotoR',sans-serif; color:#999 }
.paging a{color:#888;font-size:16px}
.paging ul{display:flex;  align-items: center; margin: 0 auto;}
.paging ul li{padding:0 10px}
.paging ul li:first-child{padding-left:0}
.paging ul li:last-child{padding-right:0}
.paging ul li.on a{color:#ff7e00}
.paging .copyright{color:#a6a8b0}

/* span.red-msg */
span.red-msg{ position: absolute; left: 0; width: 100%; color: #ff7e00; font-size: 12px; font-family: 'NotoR', serif;} 
.delete_search { color: #888; position: absolute;}

/* mypage 하단 버튼 정렬  */
.bottom-area .center { justify-content: center !important;}
.bottom-area .center a {margin: 0 auto !important;}

/* aisde 문의 하기 버튼 07. 20 .btn-quest */
.btn-quest * {box-sizing: border-box;}
.btn-quest { position: fixed; z-index: 2; bottom: 100px; right: 70px; font-family: 'Youth',sans-serif;} 
.btn-quest button { display:flex; justify-content: center;align-items: center; width: 60px; height: 60px; border-radius: 100%; background-color: #ff7e00; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); cursor: pointer;}
.btn-quest button i { width: 60px; margin-top:-5px; color: #fff; font-size: 30px; }
/* .btn-quest button p { position: fixed; z-index: 3; bottom: 25px; right: 46px; width: 110px; height: 60px; color: #ff7e00; font-size: 16px;  font-family: 'NotoR',sans-serif;} */
.btn-quest button .fa-times { display: none; }
.btn-quest .content { display: none; z-index: 1; width: 370px; position: fixed; bottom: 175px; right: 120px; border-radius: 10px; box-shadow: rgba(43, 47, 43, 0.2) 0px 1px 10px 1px; }
.btn-quest .content .title { width: 100%; height: 140px; padding: 40px 20px; color: #fff; background-color: #fdaa56; border-top-right-radius:5px; border-top-left-radius:5px; background-image: url(../img/main/chn.png); background-position: 260px center; background-size: 100px 100px; background-repeat: no-repeat; }
.btn-quest .content .title h3 { font-size: 18px; line-height: 2; }
.btn-quest .content .title h4 { font-size: 16px; line-height: 1.7;}
.btn-quest .content ol { width: 100%; background-color: #f5f3f3; padding: 20px 20px 0; border: 1px solid #ddd;  border-bottom-right-radius:5px; border-bottom-left-radius:5px }
.btn-quest .content ol li { width: 100%; height: 60px;  margin-bottom: 20px; cursor: pointer; background-color: #fff; border-radius: 5px;}
.btn-quest .content ol li a { width:100%; display: flex; align-items: center; height: 60px; padding-left: 20px; cursor: pointer; justify-content: flex-start; }
.btn-quest .content ol li:nth-last-of-type(1) a { margin-bottom: 0;}
.btn-quest .content ol li i { color: #fdaa56; font-size: 20px;}
.btn-quest .content ol li h4 { width:100%; margin-left: 15px; font-size: 18px; color: #888; cursor: pointer; }
/* .btn-quest end  */

/*  toast popup */
.toast-bottom-right { right: 50px; bottom: 30px;}
#toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div { width: 350px;}
#toast-container>div {width: 350px; margin: 0 0 10px; background-color: #fdaa56; border-radius: 5px; opacity: 1; 	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter:alpha(opacity=100); padding: 20px 15px 20px 48px; box-shadow: 0 0 4px #999; -moz-box-shadow:0 0 4px #999;-webkit-box-shadow:0 0 4px #999; font-family: 'NotoR',sans-serif; }
/* #toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div { width: 330px;} */
.toast-progress { opacity: 0.1; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);	filter:alpha(opacity=10);}
.toast-title { font-size: 15px; line-height: 25px; font-weight: 400;}
.toast-message { font-size: 15px; line-height: 25px; }
/* .toast:hover { opacity: 0.2; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);filter:alpha(opacity=20);} */
#toast-container>div:hover { -moz-box-shadow:0 0 2px #666; -webkit-box-shadow:0 0 2px #666; box-shadow:0 0 2px #666; opacity:1; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter:alpha(opacity=100);	cursor:pointer;	}
.toast-close-button { font-weight: 300 !important;}
/*  toast popup end */

.mfp-container {padding: 0;}


/* select box normalizing */
select {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('../img/btn_slect_arrow_down.png') no-repeat 95% 50%; border-radius: 0px;	font-family: inherit; font-family: 'NotoR', sans-serif;}
select::-ms-expand {display:none;  font-family: 'NotoR', sans-serif;}
select:hover { cursor: pointer; }
select:focus { outline:none !important;}

/* select box  ie 10~ edge 설정 */
select:-ms-input-placeholder {color: #bbb; font-family: 'NotoR', sans-serif;}
select[type=text]::-ms-input-placeholder {color: #bbb; font-family: 'NotoR', sans-serif;}
select[type=text]::-webkit-input-placeholder {color: #bbb; font-family: 'NotoR', sans-serif;}

/* selectbox -ul */
.select-ui { position: relative; display: inline-block; margin:0px auto;  width: 120px;  background: #fff; color: #888; font-family: 'NotoR', sans-serif;}
.select-ui > a {
    z-index: 1;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 39px;
    background-color: #fff;
    color: #666;
    text-decoration: none;
    background: #fff url('../img/btn_slect_arrow_down.png') no-repeat 97% 50%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    }
/* .select-ui > a:hover { color: #666} */
.select-ui > i { position: absolute; top: 0; right: 10px; z-index: 0; line-height: 40px; font-size: 20px; color: inherit; }
.select-ui ul {
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  left: 0;
  top: 40px;
  border: 1px solid #ddd;
  border-top: 0px;
  background: #fff;
  text-decoration: none;
  }
.select-ui ul li { width: 100%; height: 40px;  box-sizing: border-box; background: #fff; }
.select-ui ul li a { width: 100%; display: block; height: 40px; line-height:  40px;  box-sizing: border-box; padding: 0 10px ;  color: #666; font-size: 15px;  text-decoration: none; background: #fff; }
.select-ui ul li a:hover { color: #666;  text-decoration: none;  background: #f3f3f3;}

/* 매칭내역 selectbox */
.mypage-f-c .select-array-lt .select-ui { width: 140px;}
.mypage-f-c .select-array-lt .select-ui > a  { width: 140px; background: #fff url('../img/btn_slect_arrow_down.png') no-repeat 115px 50%;}
.mypage-f-c .select-array-lt .select-ui ul { width: 140px;}

/* 문의하기 selectbox */
.question { font-family: 'NotoR', sans-serif; color: #555;}
.question .select-ui { width: 320px; margin-left: 32px !important;}
.question .select-ui > a  { width: 320px; background: #fff url('../img/btn_slect_arrow_down.png') no-repeat 295px 50%;}
.question .select-ui ul { width: 320px;}

.question .select-ui { position: relative; display: inline-block; margin:0px auto;  width: 320px;  box-sizing: border-box; background: #fff; font-family: 'NotoR', sans-serif;}
.question .select-ui > a { z-index: 1;  position: relative;  display: block; box-sizing: border-box; width: 320px;  height: 40px; padding-left: 10px;  font-size: 15px;
    line-height: 38px;  color: #888;  text-decoration: none;  background: #fff url('../img/btn_slect_arrow_down.png') no-repeat 97% 50%;
  border: none; border-radius: 0; border-bottom: 1px solid #ddd;}
  .question .select-ui > a:hover { text-decoration: none;  color: #888}
  .question .select-ui ul { display: none;  position: absolute;  width: 100%;  z-index: 2; box-sizing: border-box; overflow: hidden;
  left: 0; top: 40px; padding-top:0; border: 1px solid #ddd; border-top: 0px;/*   border-radius: 5px; */  background: #fff;  text-decoration: none;  }
  .question .select-ui ul li { float: none; width: 100%; height: 40px;  box-sizing: border-box; background: #fff; margin-bottom: 0; }
  .question .select-ui ul li a { width: 100%; display: block;  height: 40px; box-sizing: border-box; padding: 0 10px ;  color: #888; font-size: 15px;  line-height: 38px;  text-decoration: none; background: #fff; }
  .question .select-ui ul li a:hover { color: #888; text-decoration: none;  background: #f3f3f3;}

  
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* question html   */
.question table td { padding: 0;}
.question table td input, .question table td textarea { border: 1px solid transparent;} 
.question table td input, .question table td textarea { height: 35px; line-height: 35px;}
.question table td textarea { width: 900px;	min-height: 300px; padding: 20px 30px;}
.question table td:nth-child(odd) {min-width: 130px; text-align: center; }
.question .title_wrap h1 {  font-family: 'NotoR', sans-serif; font-size: 16px; line-height: 38px;}
.question .title_wrap h2 {  font-family: 'NotoR', sans-serif; font-size: 16px; line-height: 38px;}

.info-change-havent-rt li {content:"";  display: block; clear: both; }
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/*  button */
.btn-fff {display: block; box-sizing: border-box; height: 40px; margin: 0 auto;  line-height: 38px; color: #ff7e00;  background-color: #fff; border-radius: 5px; text-align: center; border: 1px solid #ff7e00; cursor: pointer; font-family: 'NotoR', sans-serif; }
.btn-fff:active  {color: #fff !important;  background-color: #ff7e00 !important; border-color: #fff !important; }
.btn-fff.on {color: #fff !important;  background-color: #ff7e00 !important; border-color: #fff !important; }

.btn-org {display: block; box-sizing: border-box; height: 40px; margin: 0 auto;  line-height: 38px;  color: #fff;  background-color: #ff7e00; border-radius: 5px; text-align: center; border: 1px solid #ff7e00; cursor: pointer; font-family: 'NotoR', sans-serif;}
.btn-org:active  {color: #ff7e00 !important;  background-color: #fff !important; border-color: #ff7e00 !important; }
.btn-org.on {color: #ff7e00 !important;  background-color: #fff !important; border-color: #ff7e00 !important; }

.btn-gray {display: block;box-sizing: border-box;margin: 0 auto;width: 100px;height: 40px;line-height: 38px;text-align: center;font-size: 14px;color: inherit;border: 1px solid #ddd;border-radius: 5px;cursor: pointer;font-family: 'NotoR', sans-serif; color:#888; }
.btn-gray:active { border-color: #ff7e00 !important; color: #ff7e00 !important; }
.btn-gray.on { color: #ff7e00 !important; border: 1px solid #ff7e00 !important; border-radius: 5px;}

.btn-bbb {display: block; box-sizing: border-box;  margin: 0 auto; width: 130px; height: 40px; line-height: 38px; text-align: center; font-size: 12px; color: #bbb; border: 1px solid #ddd; border-radius: 5px;}
.btn-bbb:active { border-color: #ff7e00 !important; color: #ff7e00 !important; }
.btn-bbb.on { color: #ff7e00 !important; border: 1px solid #ff7e00 !important; border-radius: 5px;}

.btn-disable {display: block; box-sizing: border-box;  margin: 0 auto; width: 130px; height: 40px; line-height: 38px; text-align: center; font-size: 14px; color: #bbb !important; border: 1px solid #ddd; border-radius: 5px; cursor: default; touch-action: none;}
.btn-disable:hover {color: #bbb !important; border-color: #ddd !important; cursor: default; touch-action: none;}
.btn-disable:active {color: #bbb !important; border-color: #ddd !important; cursor: default; touch-action: none;}
.btn-disable.on {color: #bbb !important; border-color: #ddd !important; cursor: default; touch-action: none;}

.btn-gray.mob {display: block; box-sizing: border-box; width: 100px; height: 40px; line-height: 38px; text-align: center; font-size: 14px; color: inherit; border: 1px solid #ddd; border-radius: 5px;  cursor: pointer; font-family: 'NotoR', sans-serif; color:#888;}
.btn-gray.mob:hover {color: #888 !important; border-color: #ddd !important; cursor: default; touch-action: none;}
.btn-gray.mob:active {color: #888 !important; border-color: #ddd !important; cursor: default; touch-action: none;}
.btn-gray.mob.on {color: #888 !important; border-color: #ddd !important; cursor: default; touch-action: none;}

.disable { touch-action: none; }   
.disabled { touch-action: none; }   
.disabled:hover { color: #bbb !important; border-color: #ddd !important; cursor: default; touch-action: none;}
.disabled:active { color: #bbb !important; border-color: #ddd !important; cursor: default; touch-action: none;}

ul.disabled { color: #bbb; touch-action: none;}
ul.disabled .checkbox_checked  { color: #bbb; touch-action: none;}
ul.disabled > li > label { color: #bbb !important; touch-action: none;}
ul.disabled .checkbox_checked label.disabled.on {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}

ul .checkbox_checked.disabled  { color: #bbb !important; cursor: default !important; touch-action: none;}
ul .checkbox_checked.disabled label {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}
ul.disabled .checkbox_checked label.disabled:hover {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}
ul .checkbox_checked.disabled label:hover {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}
ul .checkbox_checked.disabled label.on {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}

ul .checkbox_checked label.disabled {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}
ul .checkbox_checked label.disabled:hover {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}
ul .checkbox_checked label.disabled.on {color: #bbb !important; border-color: #ddd !important; cursor: default !important; touch-action: none;}

.btn-mob {display: block; box-sizing: border-box; width: 100%; max-width: 340px; height: 40px; margin: 0 auto; line-height: 40px; color: #fff;  background-color: #ff7e00; border-radius: 5px; text-align: center; font-family: 'Youth', sans-serif; font-size: 16px;}

.button-a {	display: block;	box-sizing: border-box;	width: 100%; height: 100%; cursor: pointer;}

/* ********************************************************* */
/* ********************************************************* */
/* style_custom.css */
/* ********************************************************* */
/* ********************************************************* */

/* textarea */
textarea:focus { border:1px solid #ff7e00 !important; outline: none;}
textarea[readonly]:focus { border-color: #ddd !important;}
textarea {display: block; overflow-x:hidden; overflow-y:auto; resize: none; outline: none; font-family: 'NotoR', sans-serif; color: #666 !important; -webkit-appearance: none; -webkit-border-radius: 5px; -moz-border-radius: 5px;  border-radius: 5px; border-color: #ddd; padding: 10px; font-size: 14px;}
textarea::placeholder { outline: none; opacity: 1; color: #bbb !important;font-family: 'NotoR', sans-serif; } 
textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder { outline: none; opacity: 1;  color: #bbb !important; font-family: 'NotoR', sans-serif;}

textarea:focus,
textarea:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder { outline: none; border: 1px solid #ff7e00 !important;font-family: 'NotoR', sans-serif;}

textarea::placeholder { color: #bbb !important;}
textarea::-webkit-input-placeholder { color: #bbb !important;}
textarea::-moz-placeholder { color: #bbb !important;}
textarea:-ms-input-placeholder { color: #bbb !important;}
textarea:-moz-placeholder { color: #bbb !important;}
textarea::placeholder { color: #bbb !important;}
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* input */
/* input { -webkit-appearance: none; -webkit-border-radius: 0;  -moz-border-radius: 0;  border-radius: 0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   color: #666 !important; background: #fff; box-sizing: border-box; font-family: 'NotoR', sans-serif; font-size: 15px; outline: none; border: 1px solid transparent; height: 40px;} */
input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
   color: #666 !important;
   background: #fff;
   box-sizing: border-box;
   font-family: 'NotoR', sans-serif;
   font-size: 15px;
   outline: none;
   border: 1px solid transparent;
   height: 40px;
   }
input:-internal-autofill-previewed { background-color: #fff !important;}
input:focus { border:1px solid #ff7e00 !important; outline: none;}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"],input[type="tel"] { border-radius:0;}
input[type="search"] { -webkit-appearance: none; }

 input::placeholder {color: #bbb !important; opacity: 1; font-family: 'NotoR', sans-serif; font-size: 14px; } 
input::-moz-placeholder { opacity: 1; color: #bbb !important; font-family: 'NotoR', sans-serif;}
input:-ms-input-placeholder{ opacity: 1; color: #bbb !important; font-family: 'NotoR', sans-serif;}
input::-webkit-input-placeholder{ opacity: 1; color: #bbb !important; font-family: 'NotoR', sans-serif;}
/* input[type=text]::-webkit-input-placeholder { opacity: 1; color: #bbb !important; }
input[type=number]::-ms-input-placeholder { opacity: 1; color: #bbb !important; }
input[type=number]::-webkit-input-placeholder { opacity: 1; color: #bbb !important; }
input[type=password]::-ms-input-placeholder { opacity: 1; color: #bbb !important; }
input[type=password]::-webkit-input-placeholder { opacity: 1; color: #bbb !important; } */

input[type="checkbox"]:focus { outline:none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;  -moz-appearance: none; appearance: none; margin: 0;}
input[type="number"] {-moz-appearance: textfield;}
/*  input  ie 10~ edge 설정 ie10 이상에서 input textbox에 포커스시 생기는 삭제(x) 버튼 숨기기 */
input:-ms-input-placeholder { opacity: 1; color: #bbb; font-family: 'NotoR', sans-serif;}
input[type=text]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=number]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=password]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=email]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=date]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=week]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=month]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=tel]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
input[type=url]::-ms-clear{ display: none; font-family: 'NotoR', sans-serif;}
/* input type="button"
input type="checkbox"
input type="color"
input type="date"
input type="datetime-local"
input type="email"
input type="file"
input type="hidden"
input type="image"
input type="month"
input type="number"
input type="password"
input type="radio"
input type="range"
input type="reset"
input type="search"
input type="submit"
input type="tel"
input type="text"
input type="time"
input type="url"
input type="week" */
/* ********************************************************* */
/* ********************************************************* */
/* input[type=text]::-ms-input-placeholder {color: #888; } */
/* input checkbox_checked */
.checkbox_checked input[type="checkbox"]{display: none; font-size: 14px; /* -webkit-appearance:checkbox */}
/* .checkbox_checked */
.checkbox_checked { color: #888; font-family: 'NotoR', serif; cursor: pointer;}
.checkbox_checked.on { color: #ff7e00 ; border-color: #ff7e00 ; }

.checkbox_checked label { color: #888; font-family: 'NotoR', serif; cursor: pointer; font-size: 14px;}
.checkbox_checked label.on { color: #ff7e00 !important; border-color: #ff7e00 !important; }
.checkbox_checked input[type="text"] {color: #ff7e00;  text-align: center; font-size: 14px; }
.checkbox-2line { line-height: 1.5;}

.checkbox_checked label.disabled:hover {color: #bbb !important; border-color: #ddd !important; cursor: default !important;}
.checkbox_checked label.disabled.on {color: #bbb !important; border-color: #ddd !important; cursor: default !important;}
/* 비활성화 mobile-popup-element .checkbox_checked  */
.mobile-popup-element .checkbox_checked label { cursor: default !important;}
.mobile-popup-element .checkbox_checked label:hover { color: #888 !important; border-color: #ddd !important;}
.mobile-popup-element .checkbox_checked label.on { color: #ff7e00 !important; border-color: #ff7e00 !important; }
.mobile-popup-element .checkbox_checked:hover { color: #888 !important; border-color: #ddd !important;}
/* 비활성화 mobile-slide-element .checkbox_checked  */
.mobile-slide-element .checkbox_checked label { cursor: default !important;}
.mobile-slide-element .checkbox_checked label:hover { color: #888 !important; border-color: #ddd !important;}
.mobile-slide-element .checkbox_checked label.on { color: #ff7e00 !important; border-color: #ff7e00 !important; }
.mobile-slide-element .checkbox_checked:hover { color: #888 !important; border-color: #ddd !important;}

.checkbox-multi .check input[type="checkbox"] { position: absolute; width: 0; height: 0; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.checkbox-multi .check input[type="checkbox"]+ label {display: inline-block; position: relative; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; color: #888; font-size: 14px;}
.checkbox-multi .check input[type="checkbox"]+ label:before{ content: ''; display: inline-block; width: 10px; /* 체크박스의 너비를 지정 */ height: 10px; /* 체크박스의 높이를 지정 */ line-height: 10px; /* 세로정렬을 위해 높이값과 일치 */ margin: -2px 4px 0 0;  font-size: 10px; text-align: center; vertical-align: middle; background: #fff; border: 1px solid #888; }
.checkbox-multi .check input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #ff7e00 !important; background: #fff; border-color: #ff7e00 !important; }
.checkbox-multi .check input[type="checkbox"]:checked+ label span { color: #ff7e00; font-size: 14px; }    
/*  checkbox end */

.checkbox-multi { display: flex; height: 40px; line-height: 40px; }
.checkbox-multi .check { width: 60px; height:40px; line-height:40px; margin-left: 10px;}
.checkbox-multi .check label { width: 60px;}
/* ********************************************************* */
/* ********************************************************* */
/*  certificate */
.certificate-06 .certificate_hover_img {min-width: 72px; }
.certificate-05 .certificate_hover_img {min-width: 134px; }
.certificate-04 .certificate_hover_img {min-width: 100px; }
.certificate-03 .certificate_hover_img {min-width: 100px; }

/* 1 - 오슬 직접 방문  / 방문 인증 */
/* .color-icons > li:nth-of-type(1) .certificate_hover_img  { min-width: 96px; } */
.color-icons > li:nth-of-type(1) .certificate_hover_img  { min-width: 72px; }
.icon-01 .certificate_hover_img  { min-width: 72px; }

/* 2 - 세금계산서 발급 가능 */
.color-icons > li:nth-of-type(2) .certificate_hover_img{ min-width: 132px; }
.icon-02 .certificate_hover_img{ min-width: 132px; }

/* 3 - 매칭 우수 공장 */
.color-icons > li:nth-of-type(3) .certificate_hover_img{ min-width: 96px; }
.icon-03 .certificate_hover_img{ min-width: 96px; }

/* 4 -관심 인기 공장 */
.color-icons > li:nth-of-type(4) .certificate_hover_img{ min-width: 96px; }
.icon-04 .certificate_hover_img{ min-width: 96px; }
/*  */
/* view-tooltip 인증 마크 - 공통사항 변경 2020/06/15  */
.view-tooltip{ position: absolute; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; box-sizing: border-box; width: max-content; height: 26px; line-height: 26px; top: -34px; right: 0; padding: 0 8px; font-size: 13px;  color: #666; border: 1px solid #ddd; border-radius: 5px; background-color: #fff;font-family: 'NotoR',sans-serif;}
.view-tooltip:after{ content: ""; position: absolute; border-top: 6px solid #fff; border-right: 5px solid transparent; border-left: 5px solid transparent; bottom: -6px; right: 8px;}
.view-tooltip:before{ content: ""; position: absolute; border-top: 6px solid #ddd; border-right: 5px solid transparent; border-left: 5px solid transparent;  bottom: -7px; right: 8px;}

/* .mark-circle  */
.mark-circle {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: reverse;flex-direction: row-reverse;-webkit-box-align: center;-ms-flex-align: center;align-items: center;min-width: 65px;}
.mark-circle .view-tooltip { right: -8px;}
.mark-circle > li { position: relative; display: block; cursor: pointer; line-height: unset; width: 10px; height: 10px; line-height: 20px; margin: 0 5px; border-radius:50%; background-color: transparent; background-size: 10px; text-align: center;}  
.mark-circle > li:nth-of-type(1){ margin-right: 0; }  
.mark-circle > li:nth-last-of-type(1){ margin-left: 0;}  

.mark-circle > .icon-01 { background-color: #fdaa56;}
.mark-circle > .icon-02  { background-color: #ff7e00;}
.mark-circle > .icon-03  { background-color: #00a0e9;}
/* .mark-circle > .icon-03  { background-color: #7ecef4;} */
.mark-circle > .icon-04  { background-color: #0068b7;}
/* .mark-circle > .icon-04  { background-color: #27b0f2;} */
.mark-circle > .icon-05  { background-color: #22ac38;}
/* .mark-circle > .icon-05  { background-color: #ade98f;} */
.mark-circle > .icon-06   { background-color: #005e15;}
/* .mark-circle > .icon-06   { background-color: #5ec575;} */
.icon-01 .view-tooltip { min-width: 96px; }
.icon-02 .view-tooltip { min-width: 106px; }
.icon-03 .view-tooltip { min-width: 96px; }
.icon-04 .view-tooltip { min-width: 96px; }
.icon-05 .view-tooltip { min-width: 96px; }
.icon-06 .view-tooltip { min-width: 96px; }

/* mark-certificate */
.mark-certificate {  display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 260px; height: 25px; line-height: 25px; font-family: 'Youth',sans-serif; text-align: center; color: #fff;}
.mark-certificate .view-tooltip { top: -36px;}
.mark-certificate > li { position: relative; display: block; cursor: pointer; width: 55px; height: 25px; line-height: 25px; margin-left: 10px; border-radius: 5px; background-color: transparent; background-size: 55px 23px; text-align: center;}
.mark-certificate > li > .bg::after { content: "인증"; height: 25px; line-height: 25px; font-size: 13px; color: #fff;}

.mark-certificate > .mark-01 { background-color: #fdaa56;}
.mark-certificate > .mark-02{ background-color: #ff7e00;}
.mark-certificate > .mark-03{ background-color: #7ecef4;}
.mark-certificate > .mark-04 { background-color: #27b0f2;}
.mark-certificate > .mark-05{ background-color: #ade98f;}
.mark-certificate > .mark-06{ background-color: #5ec575;}
.mark-certificate .mark-01 .view-tooltip { min-width: 96px; }
.mark-certificate .mark-02 .view-tooltip { min-width: 106px; }
.mark-certificate .mark-03 .view-tooltip { min-width: 96px; }
.mark-certificate .mark-04 .view-tooltip { min-width: 96px; } 
.mark-certificate .mark-05 .view-tooltip { min-width: 96px; } 
.mark-certificate .mark-06 .view-tooltip { min-width: 96px; } 
/* 인증마크 변경 end */

/* 메달 마크 */
.member-match{ position: relative; text-indent: 25px;}
.member-match::before {position: absolute; top: 0; left: 0; content: ""; width: 20px; height: 20px; background: url( "../img/search/mark_15_m.png") no-repeat left top; background-size: 20px; } 
.member-prm{ position: relative; text-indent: 25px;}
.member-prm::before {position: absolute; top: 0; left: 0; content: ""; width: 20px; height: 20px; background: url( "../img/search/mark_15_p.png") no-repeat left top; background-size: 20px; } 
.member-a{ position: relative; text-indent: 25px;}
.member-a::before {position: absolute; top: 0; left: 0; content: ""; width: 20px; height: 20px; background: url( "../img/search/mark_15_a.png") no-repeat left top; background-size: 20px; } 

/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* class 설정 추가 2020-09-23 */
.mb-0 { margin-bottom: 0px !important;}
.mb-10 { margin-bottom: 0px !important;}
.mb-20 { margin-bottom: 20px !important;}
.mb-30 { margin-bottom: 30px !important;}
.mb-40 { margin-bottom: 40px !important;}
.mb-50 { margin-bottom: 50px !important;}
.mb-60 { margin-bottom: 60px !important;}
.mb-70 { margin-bottom: 70px !important;}
.mb-80 { margin-bottom: 80px !important;}
.mb-90 { margin-bottom: 90px !important;}
.mb-100 { margin-bottom: 100px !important;}

.mt-0 { margin-top: 0px !important;}
.mt-10 { margin-top: 10px !important;}
.mt-20 { margin-top: 20px !important;}
.mt-30 { margin-top: 30px !important;}
.mt-40 { margin-top: 40px !important;}
.mt-50 { margin-top: 50px !important;}
.mt-60 { margin-top: 60px !important;}
.mt-70 { margin-top: 70px !important;}
.mt-80 { margin-top: 80px !important;}
.mt-90 { margin-top: 90px !important;}
.mt-100 { margin-top: 100px !important;}

.mr-0 { margin-right: 0px !important;}
.mr-10 { margin-right: 10px !important;}
.mr-20 { margin-right: 20px !important;}
.mr-30 { margin-right: 30px !important;}
.mr-40 { margin-right: 40px !important;}
.mr-50 { margin-right: 50px !important;}
.mr-60 { margin-right: 60px !important;}
.mr-70 { margin-right: 70px !important;}
.mr-80 { margin-right: 80px !important;}
.mr-90 { margin-right: 90px !important;}
.mr-100 { margin-right: 100px !important;}

.ml-0 { margin-left: 0px !important;}
.ml-10 { margin-left: 10px !important;}
.ml-20 { margin-left: 20px !important;}
.ml-30 { margin-left: 30px !important;}
.ml-40 { margin-left: 40px !important;}
.ml-50 { margin-left: 50px !important;}
.ml-60 { margin-left: 60px !important;}
.ml-70 { margin-left: 70px !important;}
.ml-80 { margin-left: 80px !important;}
.ml-90 { margin-left: 90px !important;}
.ml-100 { margin-left: 100px !important;}

.pt-0 { padding-top: 0px !important;}
.pt-10 { padding-top: 10px !important;}
.pt-20 { padding-top: 20px !important;}
.pt-30 { padding-top: 30px !important;}
.pt-40 { padding-top: 40px !important;}
.pt-50 { padding-top: 50px !important;}
.pt-60 { padding-top: 60px !important;}
.pt-70 { padding-top: 70px !important;}
.pt-80 { padding-top: 80px !important;}
.pt-90 { padding-top: 90px !important;}
.pt-100 { padding-top: 100px !important;}

.pb-0 { padding-bottom: 0px !important;}
.pb-10 { padding-bottom: 10px !important;}
.pb-20 { padding-bottom: 20px !important;}
.pb-30 { padding-bottom: 30px !important;}
.pb-40 { padding-bottom: 40px !important;}
.pb-50 { padding-bottom: 50px !important;}
.pb-60 { padding-bottom: 60px !important;}
.pb-70 { padding-bottom: 70px !important;}
.pb-80 { padding-bottom: 80px !important;}
.pb-90 { padding-bottom: 90px !important;}
.pb-100 { padding-bottom: 100px !important;}

.pr-0 { padding-right: 0px !important;}
.pr-10 { padding-right: 10px !important;}
.pr-20 { padding-right: 20px !important;}
.pr-30 { padding-right: 30px !important;}
.pr-40 { padding-right: 40px !important;}
.pr-50 { padding-right: 50px !important;}
.pr-60 { padding-right: 60px !important;}
.pr-70 { padding-right: 70px !important;}
.pr-80 { padding-right: 80px !important;}
.pr-90 { padding-right: 90px !important;}
.pr-100 { padding-right: 100px !important;}

.pl-0 { padding-left: 0px !important;}
.pl-10 { padding-left: 10px !important;}
.pl-20 { padding-left: 20px !important;}
.pl-30 { padding-left: 30px !important;}
.pl-40 { padding-left: 40px !important;}
.pl-50 { padding-left: 50px !important;}
.pl-60 { padding-left: 60px !important;}
.pl-70 { padding-left: 70px !important;}
.pl-80 { padding-left: 80px !important;}
.pl-90 { padding-left: 90px !important;}
.pl-100 { padding-left: 100px !important;}

.bg-fa { background-color: #fafafa !important;}
.bg-ff7 { background-color: #ff7e00 !important;}
.bg-fda { background-color: #fdaa56 !important;}
.bg-fff { background-color: #fff !important;}

.ta-lt { text-align: left !important;}
.ta-ct { text-align: center !important;}
.ta-rt { text-align: right !important;}

.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* ********************************************************* */
/* search_textarea */
/* ui-state-active */
.ui-autocomplete {  
	max-height: 295px;
	font-size: 14.5px;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0.85;
	line-height: 26px;
  }
  .ui-state-active,
  .ui-widget-content .ui-state-active, 
  .ui-widget-header .ui-state-active, 
  a.ui-button:active, .ui-button:active, 
  .ui-button.ui-state-active:hover{
  border: none;
  border: 1px solid #ddd;
  background: #eee;
  font-weight: normal;
  color: #222;
  }
  .ui-menu .ui-state-focus,
  .ui-menu .ui-state-active { margin:0 }
  /* ui-state-active end*/
/* ********************************************************* */
/* ********************************************************* */
/* ui-datepicker */
.ui-datepicker { width: 300px; min-height: 300px; padding: 0 9px 0 9px; }
.ui-datepicker .ui-corner-all, .ui-datepicker .ui-corner-bottom, .ui-datepicker .ui-corner-left, .ui-datepicker .ui-corner-bl { border-radius: 5px; }
.ui-datepicker .ui-widget-header { border: 1px solid transparent; border-bottom: 1px solid #ddd; background: #fff; color: #232323; }
.ui-datepicker .ui-datepicker-title { line-height: 33.7px; }
.ui-datepicker .ui-widget-content { color: #232323; }
.ui-datepicker table { font-size: 16px; margin: 0; }
.ui-datepicker th { font-size: 16px; padding: 0; line-height: 20px; padding-top: 20px; padding-bottom: 15px; font-weight: normal; }
.ui-datepicker td { width: 40px; height: 30px; position: relative; padding: 0; padding-bottom: 10px; }
.ui-datepicker td span, .ui-datepicker td a { text-align: center; padding: 2px; border: none; line-height: 26px; }
.ui-datepicker tr:nth-of-type(1) th:nth-of-type(1) { color: #ff0000; }
.ui-datepicker tr:nth-of-type(1) th:nth-last-of-type(1) { color: #0000ff; }
.ui-datepicker td:nth-of-type(7n) a { color: #0000ff; }
.ui-datepicker td:nth-of-type(1) a { color: #ff0000; }
.ui-datepicker td:nth-of-type(1+7n) a { color: #ff0000; }
.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default, .ui-datepicker .ui-button, .ui-datepicker html .ui-button.ui-state-disabled:hover, .ui-datepicker html .ui-button.ui-state-disabled:active { border: none; color: #232323; background: transparent; }
.ui-datepicker .ui-state-disabled .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-disabled .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-disabled .ui-state-default { box-sizing: border-box; background: #eee; color: #888 !important; border-radius: 50%; text-decoration: none; display: block; margin: 0 auto; width: 30px; height: 30px; }
.ui-datepicker .ui-state-highlight, .ui-datepicker .ui-widget-content .ui-state-highlight, .ui-datepicker .ui-widget-header .ui-state-highlight { color: #ff7e00 !important; }
.ui-datepicker .ui-datepicker-header { border-radius: 0; }
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active, .ui-datepicker a.ui-button:active, .ui-datepicker .ui-button:active, .ui-datepicker .ui-button.ui-state-active:hover { box-sizing: border-box; color: #444; text-decoration: none; display: block; margin: 0 auto; width: 30px; height: 30px; line-height: 30px; border-radius: 50%; cursor: pointer; }
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active, .ui-datepicker a.ui-button:active, .ui-datepicker .ui-button:active, .ui-datepicker .ui-button.ui-state-active:hover { border-color: #ff7e00 !important; color: #fff !important; background-color: #ff7e00 !important; padding: 0; }
.ui-datepicker .ui-button.ui-state-disabled:hover, .ui-datepicker .ui-button.ui-state-disabled:active { border: none; background: #eaeaea !important; font-weight: normal; color: #bbb !important; }
.ui-datepicker .ui-datepicker-next .ui-icon { background: url(../img/icon/icon_arrow8.png); transform: rotate(180deg); background-size: 8px 11px; background-repeat: no-repeat; background-position: center; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { top: 2px; }
.ui-datepicker .ui-datepicker-prev { left: -3px; }
.ui-datepicker .ui-datepicker-next { right: -3px; }
.ui-datepicker .ui-datepicker-prev .ui-icon { background: url(../img/icon/icon_arrow8.png); background-repeat: no-repeat; background-size: 8px 11px; background-position: center; top: 15px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { margin: 0; }
.ui-datepicker .ui-datepicker-prev .ui-icon { left: 0; top: 10px; }
.ui-datepicker .ui-datepicker-next .ui-icon { right: 0; top: 11px; }
.ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover, .ui-datepicker .ui-widget-header .ui-state-hover, .ui-datepicker .ui-state-focus, .ui-datepicker .ui-widget-content .ui-state-focus, .ui-datepicker .ui-widget-header .ui-state-focus { border: none; background: none; font-weight: normal; color: #2b2b2b; cursor: pointer; }
.ui-datepicker .ui-button:hover, .ui-datepicker .ui-button:focus { border: 1px solid transparent; background: none; font-weight: normal; color: #2b2b2b; cursor: pointer; }
.ui-datepicker .ui-datepicker-calendar th:first-child .ui-state-disabled:not(.ui-datepicker-week-end) .ui-state-default { border-radius: 15px 0 0 15px; }
.calendar  { cursor: pointer;}

/* ********************************************************* */
/* ********************************************************* */
/* description-area .deslist */
.deslist { word-break: keep-all;}
.deslist li {
		position: relative;
		color: #888;
		font-size: 14px;
		line-height: 20px;
		background-position: left 5px;
		background-repeat: no-repeat;
		background-size: 8px;
		padding-left: 8px;
		padding-bottom: 5px;
		/* min-height: 120px; */
		/* background-image: url(../img/icon/des_list_style.png); */
	}

	.deslist li::before {
		position: absolute;
		content: "-";
		top: 0;
		left: 0;
		line-height: 20px;
		}

/* 21-08-02  */
.desref { display: block !important; width: 100%; margin-bottom: 20px; word-break: keep-all; font-family: 'NotoR', serif;}
.desref li { position: relative; color: #888; font-size: 14px; line-height: 20px; padding-left: 14px;  }
.desref li::before { position: absolute; content: "※"; top: 0; left: 0; line-height: 20px; }

		.st_txt01 {
			display: block;
			position: relative;
			word-break: keep-all;
			line-height: 20px;
			padding-bottom: 5px;
			padding-left: 20px;
			font-size: 14px;
			/* // width: 100%; */
			/* // font-size: 13px; */
			color: #888;			
			}

			.st_txt01::before {
				position: absolute;
				content: "-";
				top: 0;
				left: 0;
				line-height: 20px;
				}
		
/* ********************************************************* */
/* ********************************************************* */

.cnt-none {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: calc(100vh - 525px);
	margin: auto;
	text-align: center;
}

	.cnt-none h4 {
		font-size: 15px;
		line-height: 40px;
		color: #888;
	}

/* ***************************************************************************************** */
/* ***************************************************************************************** */

.bg-preloader{position:fixed;top:0;left:0;width:100%;height:100%;z-index:10000000;opacity:1;background:rgba(0,0,0,.5)}.preloader{position:fixed;z-index:999;height:2em;width:2em;overflow:show;margin:auto;top:0;left:0;bottom:0;right:0}.preloader:before{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%}.preloader:not(:required){font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.preloader:not(:required):after{content:'';display:block;font-size:10px;width:1em;height:1em;margin-top:-.5em;-webkit-animation:spinner 150ms infinite linear;-moz-animation:spinner 150ms infinite linear;-ms-animation:spinner 150ms infinite linear;-o-animation:spinner 150ms infinite linear;animation:spinner 150ms infinite linear;border-radius:.5em;-webkit-box-shadow:rgba(255,255,255,.75) 1.5em 0 0 0,rgba(255,255,255,.75) 1.1em 1.1em 0 0,rgba(255,255,255,.75) 0 1.5em 0 0,rgba(255,255,255,.75) -1.1em 1.1em 0 0,rgba(255,255,255,.75) -1.5em 0 0 0,rgba(255,255,255,.75) -1.1em -1.1em 0 0,rgba(255,255,255,.75) 0 -1.5em 0 0,rgba(255,255,255,.75) 1.1em -1.1em 0 0;box-shadow:rgba(255,255,255,.75) 1.5em 0 0 0,rgba(255,255,255,.75) 1.1em 1.1em 0 0,rgba(255,255,255,.75) 0 1.5em 0 0,rgba(255,255,255,.75) -1.1em 1.1em 0 0,rgba(255,255,255,.75) -1.5em 0 0 0,rgba(255,255,255,.75) -1.1em -1.1em 0 0,rgba(255,255,255,.75) 0 -1.5em 0 0,rgba(255,255,255,.75) 1.1em -1.1em 0 0}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes spinner{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes spinner{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}
.preloader-map { color: #fff; position: absolute; top: 60%; left: 50%; transform: translate(-48%, -50%);}
/* ***************************************************************************************** */
/* ***************************************************************************************** */
/* ***************************************************************************************** */
/* ***************************************************************************************** */
/* 2022-01-19 */
.swiper-wrapper { border: none !important;}
/* ***************************************************************************************** */
/* ***************************************************************************************** */
/* ***************************************************************************************** */
/* ***************************************************************************************** */


/* 2021-12-07  모바일 hover style issue 수정*/
@media (hover: hover) {

	.popupRes .btn-box  >a:hover { color: #ff7e00; border-color: #ff7e00; }

	.border_bt6:hover{background-color:#fdaa56 !important;color:#fff!important;border:0}
	.border_bt2:hover{color:#ff7e00 !important;border-color:#ff7e00!important}
	.myPage_html .border_bt2:hover a{color:#ff7e00}
	.myPage_html .border_bt2:hover{border-color:#ff7e00!important;color:#ff7e00}
	
	.btn-bbb:hover {color: #ff7e00 !important; border: 1px solid #ff7e00 !important; border-radius: 5px;}
	.btn-gray:hover { color: #ff7e00 !important; border: 1px solid #ff7e00 !important; border-radius: 5px;}
	.btn-org:hover {color: #ff7e00 !important;  background-color: #fff !important; border-color: #ff7e00 !important; }
	.btn-fff:hover {color: #fff !important;  background-color: #ff7e00 !important; border-color: #fff !important; }

	.checkbox_checked:hover { color: #ff7e00 ; border-color: #ff7e00 ; }
	.checkbox_checked label:hover { color: #ff7e00 !important; border-color: #ff7e00 !important; }
 }
/* ***************************************************************************************** */
